.lw{font-size: 120px;}
html{font-family: 'Reggae One', cursive;}


body {
  background-color: pink;
  text-align : center;
}
.main img {
  width : 30%;
  vertical-align: middle;
}
.navi {
  text-align: center;
}
button {
  margin: 10px auto;
  font-size: 24px;
}
.title {
  font-size: xx-large;
}
.thumbnails .selected {
  opacity: 1.0;
}
